
<section class="main">
    <div class="profile-card">
      <div class="image">
        <img src="../../../assets/squidward.png" alt="" class="profile-pic">
      </div>
      <div class="data">
        <h2>{{selectedUser?.firstName}} {{selectedUser?.lastName}}</h2>
      </div>
      <div class="row">
        <div class="info">
          <h3>Email</h3>
          <span>{{selectedUser?.emailAdderss}}</span>
        </div>
        <div class="info">
          <h3>Contact</h3>
          <span>{{selectedUser?.contact}}</span>
        </div>
        <div class="info">
          <h3>Age</h3>
          <span>{{selectedUser?.age}}</span>
        </div>
      </div>
      <div class="buttons">
        <a href="#" class="btn">Message</a>
        <a href="#" class="btn">Follow Me</a>
      </div>
    </div>
  </section>